@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{
    <script src="~/js/signalr-client.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <button type="button" class="btn btn-success disabled mx-1 my-1">
                Connected Client Count <span id="span-connected-client-count" class="badge text-bg-secondary">4</span>
            </button>

            <button class="btn btn-primary mx-1 my-1 " id="btn-send-message-all-client">Tüm Client'lara Gönder'</button>
            <button class="btn btn-primary mx-1 my-1" id="btn-send-message-caller-client">İstek Yapan Client'a Gönder'</button>
            <button class="btn btn-primary mx-1 my-1" id="btn-send-message-other-client">Diğer  Client'lara Gönder'</button>
        </div>
    </div>
</div>
